@import url(http://fonts.googleapis.com/css?family=Oswald:700|Montserrat:700);
/*
Profoundity
v1,0
*/
* {
  text-align:center;
}
#top, #bottom {
  font-family:"Oswald", Impact, Helvetica, sans-serif;
  font-size:7vw;
  font-weight:700;
  padding:1em;
  margin:auto;
  display:block;
  text-transform:uppercase;
}
#middle {
  font-family:"Montserrat", sans-serif;
  font-size:5vh;
  font-weight:700;
  padding:1em;
  margin:auto;
}
